<body style="background-color:#FFFFF5; text-align:center; justify-content:center">

<img src="/assets/splash-image.png" style="opacity:.15;
position: absolute;
left: 0;
right: 0;
margin: auto;
top:14vh;">
<img src="/assets/logo.svg" style="position: absolute;
left: 0;
right: 0;
margin: auto;
top:43vh;">

<a style="position:absolute; bottom:65px;left: 0;
right: 0;
margin: auto; color:Gray; text-decoration:none;  padding-bottom:3px" href="next.html"><span style="border-bottom: 1px solid gray;">What You Get</span></a>

</body>
